
@import url(global.css);
@import url(nav.css);
@import url(about.css);

/* CSS menu-item*/
.menu-item {
color: var(--text-color-secondary);
}

.menu-item:hover {
  color: var(--brand-color);
}


/* CSS usuario-imgs*/

.foto-usuario-about {
  width: 176px;
}


/* CSS Cards-fotos*/
.card-foto {
  width: 286px;
}



