
@import url(global.css);


/* CSS menu-item*/
.menu-item {
color: var(--text-color-secondary);
}

.menu-item:hover {
  color: var(--brand-color);
}

/* CSS Fim menu-item*/


/* CSS usuairio-imgs*/
.usuario-nav-foto {
  width: 40px;
}

.foto-usuario-about {
  width: 176px;
}
/* CSS Fim usuario-imgs*/


/* CSS Cards-fotos*/
.card-foto {
  width: 286px;
}



/* CSS Fim cards-fotos*/

